@charset "UTF-8";

/*paleta de cores*/ 

* {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 9, 1);

}

body {
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, black,#49a09d);
   }


main {
    height: 100vh;
    width: 100vw;
    position: relative;
    
}

section#Login {
    background-color: beige;
    border-radius: 20px;
    width: 250px;
    height: 500px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px rgba(7, 225, 43, 0.331);
    overflow: hidden;

    transition: width .3s, height .3s;
    transition-timing-function:ease ;

}

section#Login > div#imagem {
    background: brown url(../imagens/metal.jpg) no-repeat;
    height: 95px;
    background-size: cover;
    display: block;

}

section#Login >  div#formulario {
padding: 10px;
display: block;
}
